In [1]:
from os import path
import pandas as pd
from serpapi import GoogleSearch
import datetime
import streamlit as st
import plotly.express as px
import matplotlib.pyplot as plt


# Ask about request needed
words_toban = "C,Go,JavaScript"
search_term = "Data Analyst"
search_location = "Geneva, Switzerland"
search_radius = 20
results_number = 70
api_key = "sdd" #open("../API keys/serpapi.txt", "r").read()

# Select only post of the day
today_post = ""
if today_post:
    agreed = "date_posted:today"
else:
    agreed = ""

# Select all techno to drop
if words_toban == "C,Go,JavaScript" or words_toban == "":
    banned_word = []
else:
    banned_word = words_toban.replace(" ", "").split(",")

In [2]:
# Scraping part
for num in range(int(results_number/10)):

    # Look for next pages
    try:
        next_page_token = results["serpapi_pagination"]['next_page_token']
    except KeyError:
        next_page_token = ""

    start = num
    params = {
        "api_key": api_key,
        "device": "desktop",
        "engine": "google_jobs",
        "google_domain": "google.com",
        "q": search_term,
        #"hl": "en",
        "gl": "ch",
        "lrad": search_radius,
        "location": search_location,
        #"chips": agreed,
        "next_page_token": next_page_token
    }

    search = GoogleSearch(params)
    results = search.get_dict()
    
    # check if the last search page (i.e., no results)
    try:
        if results["error"] == "Google hasn't returned any results for this query.":
            print(f"{results["error"]}")
            break
    except KeyError:
        print(f"Getting SerpAPI data for page: {start}")
    else:
        continue

    # create dataframe of 10 pulled results
    jobs = results["jobs_results"]
    jobs = pd.DataFrame(jobs)
    jobs = pd.concat(
        [pd.DataFrame(jobs), pd.json_normalize(jobs["detected_extensions"])], axis=1
    )
    jobs["date_time"] = datetime.datetime.now(datetime.UTC).strftime(
        "%d-%m-%Y %H:%M"
    )  # Request time add

    # concat dataframe
    if start == 0:
        jobs_all = jobs
    else:
        jobs_all = pd.concat([jobs_all, jobs])

    jobs_all["search_term"] = search_term
    jobs_all["search_location"] = search_location

NameError: name 'results' is not defined

In [ ]:
# Drop the useless columns
to_drop = [
    "detected_extensions",
    "extensions",
    "apply_options",
    "job_id",
    "thumbnail",
    "search_term",
    "search_location",
]

# Looking if every col exist and delete each of these
for col in to_drop:
    if col in jobs_all.columns:
        jobs_all.drop(columns=[col], inplace=True)

# Drop the duplicates offers
jobs_all.drop_duplicates(subset="description", inplace=True)


# Drop offers with specifics words (technology)
def find_words(sentence, words):
    """
    Input : sentence and list of words banned
    Output : True or False check
    Do : normalize text and compare each word of the sentence with the words banned
    """
    for word in words:
        if word.lower() in sentence.lower():
            return False
            break
        else:
            return True

# Count of total rows (with banned_words filter)
total_rows = jobs_all.shape[0]

# Filter the offers with banned words, if banned_word list is not empty
if banned_word != []:
    jobs_all = jobs_all[jobs_all["description"].apply(lambda a: find_words(a, banned_word))]

# Count of filtred rows (without banned_words)
rows_deleted = total_rows - jobs_all.shape[0]

In [ ]:
jobs_all.head(2)

,title,company_name,location,via,share_link,description,schedule_type,posted_at,date_time,salary
0,Impact Data Analyst,Pictet,Genf,Impactful Careers,https://www.google.com/search?ibp=htl;jobs&q=D...,We are seeking to recruit an Impact Data Analy...,Vollzeit,NaN,27-08-2024 10:39,NaN
1,Global Data Analyst,Givaudan SA,Vernier,Join Givaudan,https://www.google.com/search?ibp=htl;jobs&q=D...,Join us and celebrate the beauty of human expe...,Vollzeit,vor 12 Tagen,27-08-2024 10:39,NaN

In [ ]:
jobs_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 9
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          50 non-null     object
 1   company_name   50 non-null     object
 2   location       49 non-null     object
 3   via            50 non-null     object
 4   share_link     50 non-null     object
 5   description    50 non-null     object
 6   schedule_type  50 non-null     object
 7   posted_at      22 non-null     object
 8   date_time      50 non-null     object
 9   salary         1 non-null      object
dtypes: object(10)
memory usage: 4.3+ KB

In [ ]:
jobs_all.columns

Index(['title', 'company_name', 'location', 'via', 'share_link', 'description',
       'schedule_type', 'posted_at', 'date_time', 'salary'],
      dtype='object')

In [ ]:
fig = px.histogram(jobs_all, x="company_name", color="via")
st.plotly_chart(fig)

DeltaGenerator()

In [ ]:
for col in jobs_all.columns:
    px.histogram(jobs_all[col])
    plt.show()